@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

:root {
    --green: #4E9F3D;
    --blue: #8FD6E1;
    --gradient: linear-gradient(90deg, var(--green), var(--blue))
}


* {
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    font-size: 18px;
}

*::selection {
    background: var(--blue);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: blanchedalmond;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background-color: #151515;
}

header .logo {
    font-size: 2rem;
    color: var(--green);
}

header .logo span {
    color: var(--blue);
}

header .navbar a {
    font-size: 1.7rem;
    margin-left: 2rem;
    color: var(--green);
}

header .navbar a #special {
    font-size: 1.7rem;
    margin-left: 0.1rem;
    color: var(--blue);
}

section {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}

section h1 {
    text-align: center;
    font-size: 50px;
}

li {
    list-style: none;
}

/* Daftar Pertanyaan */

.list-question-text {
    display: flex;
}

.list-question-text div {
    flex: 1 1 auto;
}

#question {
    color: black;
    margin-bottom: 40px;

}

#quiz {
    text-align: center;
    flex: auto;
    display: block;
    margin-top: 300px;
}

.opsi {
    margin: 100px 20px;
    display: inline;
}

.opsi label {
    font-size: 30px;
}

.opsi label:hover {
    border: black 1px solid;
    background-color: red;
    font-size: 40px;
    border-radius: 10%;
}

input[type="radio"]:checked+label {
    border: black 1px solid;
    background-color: red;
    font-size: 40px;
    border-radius: 10%;
}

#closing {
    text-align: center;
    flex: auto;
    display: block;
    margin-top: 300px;
}

#closing h1 {
    font-size: 50px;
}

#closing h2 {
    font-size: 30px;
}

#button {
    width: 70px;
    height: 50px;
    background-color: white;
    border: black 1px solid;
}

#kembali {
    width: 200px;
    height: 50px;
    background-color: white;
    border: black 1px solid;
    border-radius: 40%;
}

#button:hover {
    width: 90px;
    height: 70px;
    border-style: solid;
    color: white;
    border: black 3px solid;
    background-color: darkblue;
}

#opening {
    text-align: center;
    flex: auto;
    display: block;
    margin-top: 300px;
}

#mulai {
    width: 100px;
    height: 50px;
    border-style: solid;
    border-color: black;
}

#mulai:hover {
    background-color: darkblue;
    width: 130px;
    height: 70px;
    color: white;
}

.tambah-btn,
.update-btn,
.delete-btn {
    color: white;
    border: none;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.4rem;
    margin-left: 0.4rem;
}

.update-btn {
    background: #2090ec;
}

.delete-btn {
    background: #dc3246;
}

/* Tambah/Update Pertanyaan */

#tambah,
#update {
    left: 0;
    right: 0;
    width: 50vw;
    margin: 30px auto;
}